:root {
    /* Brand colors https://wiki.haskell.org/Brand */
    --color-dark-blue: #293745;
    --color-lighter-blue: #4e6272;
    --color-orange: #c4451d;
    --color-cream: #f4f1e2;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    line-height: 1.8;
}

.title,
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Poppins', sans-serif;
}

.title > a {
    color: var(--color-dark-blue);
    text-decoration: none;
}

.title:hover a {
    color: var(--lighter-blue);
    text-decoration: underline;
}

.page {
    padding: 0 2rem;
}

.site-header {
    margin: 2rem 0;
}

.site-nav {
    display: flex;
}

.article {
    margin: 2rem 0;
}

.article-header {
    line-height: 1;
}

.article-tags {
    display: none;
}
