pre {
    background-color: #272822;
    font-family: 'Source Code Pro', monospace;
    padding: 1rem;
}

code {
    background-color: #272822;
    color: #ddd;
}

/* KeyWordTok */
.sourceCode .kw { color: #f92672; }
/* DataTypeTok */
.sourceCode .dt { color: #66d9ef; }

/* DecValTok (decimal value), BaseNTok, FloatTok */
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #a6e22e; }
/* CharTok */
.sourceCode .ch { color: #37ad2d; }
/* StringTok */
.sourceCode .st { color: #37ad2d; }
/* CommentTok */
.sourceCode .co { color: #a6e22e; }
/* OtherTok */
.sourceCode .ot { color: #EB005B; }
/* AlertTok */
.sourceCode .al { color: #A6E22E; font-weight: bold; }
/* FunctionTok */
.sourceCode .fu { color: #333; }
/* RegionMarkerTok */
.sourceCode .re { }
/* ErrorTok */
.sourceCode .er { color: #E6DB74; font-weight: bold; }
